*{
  margin: 0;
  padding: 0;
  font-family:Verdana, 'Times New Roman';
}

body{
  height:100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

#contenedor-principal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: wrap;
  z-index: 1;   
}

.bloque-color{
  background-color: white;
  border-bottom: 4px solid black;
}

#color-arriba{
  border-bottom: 3px solid black;
  flex:1;
  transition: background-color 2s ease;
}
#color-abajo{
  border-bottom: 3px solid black;
  flex:1;
    transition: background-color 2s ease;
}

#contenedor {
  height: 300px;
  width: 450px;
  background-color: white;
  border: 5px solid black;
  flex-wrap:wrap;
  flex-direction:column;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;  
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

#color{
  font-size: 40px;
  font-weight: bold;
}

button{
  font-size: 30px;
  color:white;
  border-radius: 20px;
  background-color: #007aa3;
  margin:15px;
  padding: 10px 30px;
  border: 3px solid #004d66;
  user-select:none;
  cursor:pointer;
  transition-duration: 0.7s;
}

button:hover{
  background-color: #003243;
}